.container {
  display: flex;
  flex-direction: column;
  align-items: center;
   padding-bottom: 100px;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  scrollbar-width: none;
  /* padding-top: 20px; */
}

.tabWrapper {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 1000;
}

.tabContainer {
  display: flex;
  justify-content: center;
}

.tab {
  display: flex;
  width: 125px;
  height: 34px;
  padding: 6px 30px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 1px solid var(--BLACK-04, #d5d5d5);
  background: #fff;
  color: var(--BLACK-03, #747474);
  text-align: center;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 157.143% */
  box-sizing: border-box;
}

.activeTab {
  border-bottom: 1.5px solid var(--BLACK-01, #131313);
  background: #fff;
  color: var(--BLACK-01, #131313);
  font-weight: 600;
}

.emptyText {
  color: var(--BLACK-03, #747474);
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 60px;
}
