.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
}

.InputContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 69px;
  width: 340px;
  gap: 10px;
}

.title {
  color: var(--BLACK-02, var(--BLACK-02, #3d3d3d));
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.input {
  display: flex;
  height: 40px;
  padding: 6px 12px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  background: var(--BLACK-06, #f9f9f9);
  box-sizing: border-box;
}

input {
  background: none;
  border: none;
  outline: none;
}

.form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 40px;
  height: 198px;
  width: 338px;
}

.passwordContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.passwordContainer img {
  width: 12px;
  height: 12px;
}

.passwordContainer div {
  color: var(--RED-01, var(--MAIN-01, #bb0038));
  font-family: Pretendard;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.eyeButton {
    background: none;
    border: none;
    cursor: pointer;
}

.eyeButton img {
    width: 17px;
    height: 10px;
}