.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 64px;
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.info {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 18px;
  margin: 10px 0 46px;
}